<!DOCTYPE html>
<html ng-app>
<head>
    <title>Hello AngularJS</title>
</head>
<body>

<div ng-controller="FriendsCtrl">

    <ul>
        <li ng-repeat="friend in friends">
            <a ng-click=hello(friend.name)>{{friend.name}}</a>
        </li>
    </ul>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script>
    function FriendsCtrl($scope) {
        $scope.friends = [{name: 'karan'},{name: 'rahul'},{name: 'sameer'}]
        $scope.hello = function(name){
            alert("Hello, "+name)
        }
    }
</script>

</body>
</html>